.navbar {
    z-index: 1000 !important;
}

.corners {
    border-radius: 1rem !important;
}

.background-image {
    background-image: url('./assets/images/background1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    min-height: 100vh;
}