<header>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <div id="homeImage">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white text-center" data-mdb-theme="dark">
        <h1 class="mb-3">Aplicación web para la gestión de bienes inmobiliarios</h1>
        <h5 class="mb-4">Gestiona todas tus propiedades desde un solo lugar y gratis</h5>
        <button class="btn btn-outline-light btn-lg m-2" data-mdb-ripple-init href=""
           role="button" rel="nofollow" target="_blank">Video tutorial</button>
        <button class="btn btn-outline-light btn-lg m-2" data-mdb-ripple-init href=""
           target="_blank" role="button">Documentación</button>
      </div>
    </div>
  </div>
</header>

<main class="mt-5">
  <div class="container">
    <!--Section: Content-->
    <section>
      <div class="row">
        <div class="col-md-6 gx-5 mb-">
          <div class="bg-image hover-overlay shadow-2-strong" data-mdb-ripple-init data-mdb-ripple-color="light">
            <img src="https://cdn.shopify.com/s/files/1/0276/4360/9171/t/3/assets/banner_lowvoltagepage_housenight-1675977290818.jpg?v=1675977314" class="img-fluid" />
          </div>
        </div>

        <div class="col-md-6 gx-5 mb-4">
          <h3 class="mb-3"><strong>¿Abrumado por la documentación de alquiler? ¿Deseas un control eficiente de tus ingresos y gastos?</strong></h3>          <p class="text-muted">
            Bienvenido a nuestra web, donde puedes mantener todos tus documentos organizados, analizar la rentabilidad de tus inversiones y hasta realizar la declaración de la renta, todo en un solo lugar y sin complicaciones.
          </p>
          <p class="text-muted">
            Ya no tendrás que pagar costosas gestorías para que administren tus bienes. Con esta plataforma, podrás tomar el control de tus activos inmobiliarios de manera autónoma y totalmente gratis, sin los costos asociados a intermediarios.
          </p>
        </div>
      </div>
    </section>
    <!--Section: Content-->

    <hr class="my-5" />

    <!--Section: Content-->
    <section class="text-center">
      <h4 class="mb-5"><strong>Te ofrecemos</strong></h4>

      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
              <img src="../../assets/images/home1.jpg" class="img-fluid" />
            </div>
            <div class="card-body">
              <h5 class="card-title">Gestión de propiedades</h5>
              <p class="card-text">
                Centraliza la gestión de tus propiedades alquiladas en un solo lugar
              </p>
              <button routerLink="/properties" class="btn btn-primary" data-mdb-ripple-init>Descúbrelo</button>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
              <img src="../../assets/images/home2.jpg" class="img-fluid" />
            </div>
            <div class="card-body">
              <h5 class="card-title">Gestión de operaciones y documentos</h5>
              <p class="card-text">
                Organiza tus facturas, documentos y operaciones sin complicaciones
              </p>
              <button routerLink="/operations" class="btn btn-primary" data-mdb-ripple-init>Descúbrelo</button>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
              <img src="../../assets/images/home3.jpg" class="img-fluid" />
            </div>
            <div class="card-body">
              <h5 class="card-title">Balances</h5>
              <p class="card-text">
                Visualiza la rentabilidad de tus inmuebles con balances claros
              </p>
              <button routerLink="/balances" class="btn btn-primary" data-mdb-ripple-init>Descúbrelo</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Section: Content-->
  </div>
</main>

<footer class="bg-light text-lg-start">

  <hr class="m-0" />

  <div class="text-center py-4 align-items-center">
    <p>Datos de contacto</p>
    <button href="https://www.linkedin.com/in/oliver-fernandez-garcia/" class="btn btn-primary m-1" role="button" data-mdb-ripple-init rel="nofollow" target="_blank">
      <i class="fab fa-linkedin"></i>
    </button>
    
    <button href="mailto:oliver.fernandez@alumnos.upm.es" class="btn btn-primary m-1" role="button" data-mdb-ripple-init rel="nofollow" target="_blank">
      <i class="fas fa-envelope"></i>
    </button>
    
    <button href="https://github.com/oliver-upm" class="btn btn-primary m-1" role="button" data-mdb-ripple-init rel="nofollow" target="_blank">
      <i class="fab fa-github"></i>
    </button>
  </div>
</footer>