.action-button {
    border: none;
    background-color: transparent;
}

.center-cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card {
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(bottom right, rgba(142, 140, 132, 1), rgba(62, 63, 58, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgba(142, 140, 132, 1), rgba(62, 63, 58, 1));
    border-radius: .5rem;
    width: 80%;
    margin: auto;
}