<h1 mat-dialog-title>Detalles de la propiedad</h1>
<mat-dialog-content>
  <ng-container *ngIf="data.object as property">
    <div *ngFor="let key of labels(property)">
      <strong>{{keyMap[key] || key}}: </strong>{{property[key]}}
    </div>
    <div *ngIf="getDetailsType(property) as detailsType">
      <h4 class="mt-3">{{keyMap[detailsType] || detailsType}}</h4>
      <div *ngFor="let key of labels(property[detailsType])">
        <strong>{{keyMap[key] || key}}: </strong>{{property[detailsType][key]}}
      </div>
    </div>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-dialog-close mat-raised-button>Close</button>
</mat-dialog-actions>